# Copyright 2010 Howard Hughes Medical Institute.
# All rights reserved.
# Use is subject to Janelia Farm Research Campus Software Copyright 1.1
# license terms ( http://license.janelia.org/license/jfrc_copyright_1_1.html ).
#
# Name: Read Janelia HDF5
# Author: fosterl@janelia.hhmi.org
# Version: 1.0.0
Plugins, "Janelia H265 Reader", org.janelia.it.fiji.plugins.h5j.H5j_Reader
